# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

.vscode/

# Video files
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.m4v
*.mpg
*.mpeg

# HLS files
*.m3u8
*.ts